{
  "api": {
    "port": "8088"
  },
  "timeout": 600,
  "storage": "var/local_store",
  "environment": {
    "interface": "eth0"
  },
  "reverse": {
    "user": "username",
    "host": "pivot_hostname",
    "key": "keyname"
  },
  "sensors": {
    "arp-scan": {
      "schedule": "*/2"
    },
    "avahi-browse": {
      "schedule": "*/5"
    },
    "nmap": {
      "schedule": "1 3"
    },
    "vmstat": {
      "schedule": "*"
    },
    "df": {
      "schedule": "*"
    }
  }
}
